version: '3'
services:
  web:
    build: .
    networks: 
      net:
    ports:
    - "80:4000"
    command: wait-for-it/wait-for-it.sh -h prisma -p 4466 -t 30 -- ./run.sh
  prisma:
    image: prismagraphql/prisma:1.34
    restart: always
    networks: 
      net:
    ports:
    - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: my-secret
        databases:
          default:
            connector: mongo
            uri: mongodb://prisma:prisma@mongo
            migrations: true
    command: /bin/sh.sh
  mongo:
    image: mongo:3.6
    restart: always
    networks: 
      net:
    environment:
      MONGO_INITDB_ROOT_USERNAME: prisma
      MONGO_INITDB_ROOT_PASSWORD: prisma
    ports:
      - "27017:27017"
    volumes:
      - mongo:/var/lib/mongo
      - ./db/mongoDB:/data/db
volumes:
  mongo:
networks: 
  net:
    driver: bridge