<!DOCTYPE html>
<html>
    <body>
        <h3>
            Hello <%= name %>
        </h3>
        <span> Drug1Market platform password reset </span>
        <p>
        Your new password is : <span> <%= password %></span>
        use it to login and you can change it from profile settings later
        </p>
    </body>
</html>
